@import "tailwindcss";


html,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #444342;
    border-radius: 10px;
}

.bg-white-one {
    background-color: #f8f9fb;
}

.bg-blue-one {
    background-color: #e1ecf7;
}

.bg-blue-two {
    background-color: #aecbeb;
}

.bg-blue-three {
    background-color: #83b0e1;
}

.bg-blue-four {
    background-color: #71a5de;
}

.bg-dark-1 {
    background-color: #0f0f0f;
}

.bg-dark-2 {
    background-color: #2a2929;
}

.bg-dark-3 {
    background-color: #444342;
}

.bg-light-1 {
    background-color: #ffd000;
}

.bg-dark-2 {
    background-color: #ffb700;
}

.btn-hover-dark:hover {
    background-color: #71a5de;
    transition: 0.5s all;
}

.btn-hover-light:hover {
    background-color: #83b0e1;
    transition: 0.5s all;
}

.dropdown-menu {
    display: none;
}

.relative:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 10;
    min-width: 200px;
}

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}


.category-btn-hover-dark {
    position: relative;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.category-btn-hover-dark::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #71a5de;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.category-btn-hover-dark:hover::after {
    width: 100%;
}

.category-btn-hover-white {
    position: relative;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.category-btn-hover-white::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #84b1dd;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.category-btn-hover-white:hover::after {
    width: 100%;
}

.gradient-blue {
    background: rgb(225, 236, 247);
    background: linear-gradient(162deg, rgba(225, 236, 247, 1) 49%, rgba(113, 165, 222, 1) 100%);
}